In [1]:
import pandas as pd
import numpy as np
import os
from datetime import datetime

from pathlib import Path

from utils.data_loader import Dataset

In [2]:
ds = Dataset('train')
ds.load_games(start_date='2000-01-01', end_date='2005-01-01');

In [296]:
ds.add_team_pitching_stats(cols=['ERA', 'WHIP']);

In [297]:
ds.add_team_stats(cols=['W-L-pct', 'Avg_Attendance']);

In [272]:
ds.add_pitcher_stats(cols=['ERA', 'WHIP']);

/Users/psavala/.virtualenvs/baseball/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3263: DtypeWarning: Columns (16) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

In [273]:
ds.data.head()

,date,Y,M,D,home_team,away_team,home_win,home_pitcher,away_pitcher,home_elo,...,team_away_ERA_offset1year,team_away_WHIP_offset1year,home_W-L-pct_offset1year,home_Avg_Attendance_offset1year,away_W-L-pct_offset1year,away_Avg_Attendance_offset1year,pitcher_home_ERA_offset1game,pitcher_home_WHIP_offset1game,pitcher_away_ERA_offset1game,pitcher_away_WHIP_offset1game
16213,2001-04-28,2001,4.0,28.0,CHA,SEA,0.0,biddlro01,abbotpa01,1499.880981,...,4.53,1.440466,0.586420,26695.111111,0.561728,33215.67284,3.86,2.549020,None,NaN
55542,2001-05-11,2001,5.0,11.0,TOR,SEA,0.0,hamiljo02,abbotpa01,1511.959961,...,4.53,1.440466,0.512346,24861.419753,0.561728,33215.67284,4.99,1.285714,4.7,1.568627
141565,2001-05-22,2001,5.0,22.0,MIN,SEA,1.0,radkebr01,abbotpa01,1500.243042,...,4.53,1.440466,0.425926,20939.512346,0.561728,33215.67284,3.39,2.195122,6.66,4.545455
34596,2001-05-28,2001,5.0,28.0,KCA,SEA,0.0,durbich01,abbotpa01,1476.151978,...,4.53,1.440466,0.475309,24699.740741,0.561728,33215.67284,5.2,3.333333,5.67,1.000000
7496,2001-06-14,2001,6.0,14.0,COL,SEA,0.0,astacpe01,abbotpa01,1529.333984,...,4.53,1.440466,0.506173,34330.888199,0.561728,33215.67284,5.28,2.000000,4.25,1.142857

In [3]:
ds.add_team_stats(cols=['W-L-pct', 'Avg_Attendance'], year_offset=2, agg='mean');

In [4]:
ds.data.head()

,date,home_team,away_team,Y,M,D,home_win,home_elo,away_elo,home_avg,...,obp_pct_diff,slg_pct_diff,home_rest,away_rest,away_team_season_game_num,home_team_season_game_num,home_W-L-pct_offset2year_mean,home_Avg_Attendance_offset2year_mean,away_W-L-pct_offset2year_mean,away_Avg_Attendance_offset2year_mean
0,2001-04-01,TOR,TEX,2001,4.0,1.0,1.0,1499.562988,1479.162964,0.273459,...,-2.977845,4.989568,5.0,5.0,0.0,0.0,0.512346,24861.419753,0.438272,32341.993789
1,2001-04-02,BAL,BOS,2001,4.0,2.0,1.0,1488.060059,1515.814941,0.269526,...,-0.208591,2.428605,5.0,5.0,0.0,0.0,0.456790,32991.534161,0.524691,31547.370370
2,2001-04-02,CIN,ATL,2001,4.0,2.0,0.0,1527.274048,1523.864014,0.272199,...,-0.506960,4.555242,5.0,5.0,0.0,0.0,0.524691,34630.858025,0.586420,35842.962733
3,2001-04-02,CLE,CHA,2001,4.0,2.0,0.0,1534.349976,1517.814941,0.285689,...,2.978515,-0.041302,5.0,5.0,0.0,0.0,0.555556,36013.944444,0.586420,26695.111111
4,2001-04-02,COL,SLN,2001,4.0,2.0,1.0,1507.250000,1528.182983,0.290176,...,1.164985,-0.560900,5.0,5.0,0.0,0.0,0.506173,34330.888199,0.586420,37409.598765

## Team pitching

In [275]:
games_df = pd.read_csv('../data/mlb_games_df.csv')
team_df = pd.read_csv('../data/team_stats.csv')

In [276]:
games_df.head()

,date,Y,M,D,home_team,away_team,home_win,home_pitcher,away_pitcher,home_elo,...,avg_diff,obp_diff,slg_diff,avg_pct_diff,obp_pct_diff,slg_pct_diff,home_rest,away_rest,away_team_season_game_num,home_team_season_game_num
0,2001-04-01,2001,4.0,1.0,TOR,TEX,1.0,loaizes01,helliri01,1499.563,...,-0.008060,-0.010103,0.023271,-2.947374,-2.977845,4.989568,5.0,5.0,0,0
1,2001-04-02,2001,4.0,2.0,SEA,OAK,1.0,garcifr03,hudsoti01,1519.464,...,-0.000864,0.001190,-0.016229,-0.323318,0.331871,-3.705210,5.0,5.0,0,0
2,2001-04-02,2001,4.0,2.0,NYA,KCA,1.0,clemero02,suppaje01,1529.511,...,-0.010188,0.006929,0.024787,-3.703559,1.970596,5.554343,5.0,5.0,0,0
3,2001-04-02,2001,4.0,2.0,CIN,ATL,0.0,harnipe01,burkejo03,1527.274,...,0.003972,-0.001729,0.020216,1.459194,-0.506960,4.555242,5.0,5.0,0,0
4,2001-04-02,2001,4.0,2.0,CHN,WAS,0.0,liebejo01,vazquja01,1462.510,...,-0.010158,0.009335,-0.018992,-3.996340,2.803560,-4.646432,5.0,5.0,0,0

In [277]:
team_df.head()

     Year Team  Wins  Losses   W-L-pct  Avg_Attendance
0  2000.0  LAN  86.0    76.0  0.530864    35699.943750
1  2001.0  LAN  86.0    76.0  0.530864    35078.895062
2  2002.0  LAN  92.0    70.0  0.567901    34668.956522
3  2003.0  LAN  85.0    77.0  0.524691    33715.166667
4  2004.0  LAN  93.0    69.0  0.574074    37452.246914

In [280]:
games_team_df = games_df.merge(team_df[['Team', 'Year', 'Avg_Attendance']], left_on='home_team', right_on='Team', how='left')

In [281]:
games_team_df.head()

,date,Y,M,D,home_team,away_team,home_win,home_pitcher,away_pitcher,home_elo,...,avg_pct_diff,obp_pct_diff,slg_pct_diff,home_rest,away_rest,away_team_season_game_num,home_team_season_game_num,Team,Year,Avg_Attendance
0,2001-04-01,2001,4.0,1.0,TOR,TEX,1.0,loaizes01,helliri01,1499.563,...,-2.947374,-2.977845,4.989568,5.0,5.0,0,0,TOR,2000.0,24861.419753
1,2001-04-01,2001,4.0,1.0,TOR,TEX,1.0,loaizes01,helliri01,1499.563,...,-2.947374,-2.977845,4.989568,5.0,5.0,0,0,TOR,2001.0,25577.024845
2,2001-04-01,2001,4.0,1.0,TOR,TEX,1.0,loaizes01,helliri01,1499.563,...,-2.947374,-2.977845,4.989568,5.0,5.0,0,0,TOR,2002.0,23003.549383
3,2001-04-01,2001,4.0,1.0,TOR,TEX,1.0,loaizes01,helliri01,1499.563,...,-2.947374,-2.977845,4.989568,5.0,5.0,0,0,TOR,2003.0,24197.024691
4,2001-04-01,2001,4.0,1.0,TOR,TEX,1.0,loaizes01,helliri01,1499.563,...,-2.947374,-2.977845,4.989568,5.0,5.0,0,0,TOR,2004.0,25328.830189

In [286]:
three_years_df = games_team_df[games_team_df['Year'].between(games_team_df['Y']-3, games_team_df['Y']-1)]

In [287]:
three_years_df.head()

,date,Y,M,D,home_team,away_team,home_win,home_pitcher,away_pitcher,home_elo,...,avg_pct_diff,obp_pct_diff,slg_pct_diff,home_rest,away_rest,away_team_season_game_num,home_team_season_game_num,Team,Year,Avg_Attendance
0,2001-04-01,2001,4.0,1.0,TOR,TEX,1.0,loaizes01,helliri01,1499.563,...,-2.947374,-2.977845,4.989568,5.0,5.0,0,0,TOR,2000.0,24861.419753
20,2001-04-02,2001,4.0,2.0,SEA,OAK,1.0,garcifr03,hudsoti01,1519.464,...,-0.323318,0.331871,-3.705210,5.0,5.0,0,0,SEA,2000.0,33215.672840
40,2001-04-02,2001,4.0,2.0,NYA,KCA,1.0,clemero02,suppaje01,1529.511,...,-3.703559,1.970596,5.554343,5.0,5.0,0,0,NYA,2000.0,37914.055901
60,2001-04-02,2001,4.0,2.0,CIN,ATL,0.0,harnipe01,burkejo03,1527.274,...,1.459194,-0.506960,4.555242,5.0,5.0,0,0,CIN,2000.0,34630.858025
80,2001-04-02,2001,4.0,2.0,CHN,WAS,0.0,liebejo01,vazquja01,1462.510,...,-3.996340,2.803560,-4.646432,5.0,5.0,0,0,CHN,2000.0,34714.518750

In [288]:
three_years_df[(three_years_df['Y'] == 2004) & (three_years_df['home_team'] == 'TOR')]

,date,Y,M,D,home_team,away_team,home_win,home_pitcher,away_pitcher,home_elo,...,avg_pct_diff,obp_pct_diff,slg_pct_diff,home_rest,away_rest,away_team_season_game_num,home_team_season_game_num,Team,Year,Avg_Attendance
144606,2004-04-05,2004,4.0,5.0,TOR,DET,0.0,hallaro01,johnsja02,1518.368,...,15.139970,15.028227,18.503073,190.0,190.0,0,0,TOR,2001.0,25577.024845
144607,2004-04-05,2004,4.0,5.0,TOR,DET,0.0,hallaro01,johnsja02,1518.368,...,15.139970,15.028227,18.503073,190.0,190.0,0,0,TOR,2002.0,23003.549383
144608,2004-04-05,2004,4.0,5.0,TOR,DET,0.0,hallaro01,johnsja02,1518.368,...,15.139970,15.028227,18.503073,190.0,190.0,0,0,TOR,2003.0,24197.024691
144726,2004-04-06,2004,4.0,6.0,TOR,DET,0.0,batismi01,marotmi01,1513.282,...,15.139970,15.028227,18.503073,1.0,1.0,1,1,TOR,2001.0,25577.024845
144727,2004-04-06,2004,4.0,6.0,TOR,DET,0.0,batismi01,marotmi01,1513.282,...,15.139970,15.028227,18.503073,1.0,1.0,1,1,TOR,2002.0,23003.549383
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192207,2004-10-02,2004,10.0,2.0,TOR,NYA,1.0,hallaro01,brownke01,1472.717,...,-4.841438,2.551428,-2.227662,1.0,1.0,79,79,TOR,2002.0,23003.549383
192208,2004-10-02,2004,10.0,2.0,TOR,NYA,1.0,hallaro01,brownke01,1472.717,...,-4.841438,2.551428,-2.227662,1.0,1.0,79,79,TOR,2003.0,24197.024691
192446,2004-10-03,2004,10.0,3.0,TOR,NYA,0.0,towerjo01,halsebr01,1474.736,...,3.130252,9.188596,4.957983,1.0,1.0,80,80,TOR,2001.0,25577.024845
192447,2004-10-03,2004,10.0,3.0,TOR,NYA,0.0,towerjo01,halsebr01,1474.736,...,3.130252,9.188596,4.957983,1.0,1.0,80,80,TOR,2002.0,23003.549383
192448,2004-10-03,2004,10.0,3.0,TOR,NYA,0.0,towerjo01,halsebr01,1474.736,...,3.130252,9.188596,4.957983,1.0,1.0,80,80,TOR,2003.0,24197.024691

In [291]:
three_years_gb = three_years_df.groupby(['date', 'home_team', 'away_team']).agg(np.mean)
three_years_gb = three_years_gb.reset_index()
three_years_gb.head(10)

,date,home_team,away_team,Y,M,D,home_win,home_elo,away_elo,home_avg,...,slg_diff,avg_pct_diff,obp_pct_diff,slg_pct_diff,home_rest,away_rest,away_team_season_game_num,home_team_season_game_num,Year,Avg_Attendance
0,2001-04-01,TOR,TEX,2001.0,4.0,1.0,1.0,1499.563,1479.163,0.273459,...,0.023271,-2.947374,-2.977845,4.989568,5.0,5.0,0.0,0.0,2000.0,24861.419753
1,2001-04-02,BAL,BOS,2001.0,4.0,2.0,1.0,1488.060,1515.815,0.269526,...,0.010478,1.528361,-0.208591,2.428605,5.0,5.0,0.0,0.0,2000.0,32991.534161
2,2001-04-02,CHN,WAS,2001.0,4.0,2.0,0.0,1462.510,1461.765,0.254189,...,-0.018992,-3.996340,2.803560,-4.646432,5.0,5.0,0.0,0.0,2000.0,34714.518750
3,2001-04-02,CIN,ATL,2001.0,4.0,2.0,0.0,1527.274,1523.864,0.272199,...,0.020216,1.459194,-0.506960,4.555242,5.0,5.0,0.0,0.0,2000.0,34630.858025
4,2001-04-02,CLE,CHA,2001.0,4.0,2.0,0.0,1534.350,1517.815,0.285689,...,-0.000192,0.755044,2.978515,-0.041302,5.0,5.0,0.0,0.0,2000.0,36013.944444
5,2001-04-02,COL,SLN,2001.0,4.0,2.0,1.0,1507.250,1528.183,0.290176,...,-0.002514,7.702701,1.164985,-0.560900,5.0,5.0,0.0,0.0,2000.0,34330.888199
6,2001-04-02,LAN,MIL,2001.0,4.0,2.0,1.0,1515.925,1490.396,0.254198,...,0.026359,4.193722,4.236467,6.181414,5.0,5.0,0.0,0.0,2000.0,35699.943750
7,2001-04-02,MIA,PHI,2001.0,4.0,2.0,0.0,1485.779,1469.581,0.258568,...,0.008884,3.540184,0.287582,2.197547,5.0,5.0,0.0,0.0,2000.0,22040.418750
8,2001-04-02,NYA,KCA,2001.0,4.0,2.0,1.0,1529.511,1493.152,0.275080,...,0.024787,-3.703559,1.970596,5.554343,5.0,5.0,0.0,0.0,2000.0,37914.055901
9,2001-04-02,SEA,OAK,2001.0,4.0,2.0,1.0,1519.464,1534.696,0.267280,...,-0.016229,-0.323318,0.331871,-3.705210,5.0,5.0,0.0,0.0,2000.0,33215.672840

In [292]:
three_years_gb[(three_years_gb['date'] == '2004-04-05') & (three_years_gb['home_team'] == 'TOR')]

,date,home_team,away_team,Y,M,D,home_win,home_elo,away_elo,home_avg,...,slg_diff,avg_pct_diff,obp_pct_diff,slg_pct_diff,home_rest,away_rest,away_team_season_game_num,home_team_season_game_num,Year,Avg_Attendance
6980,2004-04-05,TOR,DET,2004.0,4.0,5.0,0.0,1518.368,1422.549,0.276678,...,0.083291,15.13997,15.028227,18.503073,190.0,190.0,0.0,0.0,2002.0,24259.19964

In [ ]:
if isinstance(cols, str):
            cols = [cols]
        
pitching_df = pd.read_csv(Files.team_pitching)

# Append columns for the home team
self.data = self.data.merge(pitching_df[['Team', 'Year'] + cols], left_on='home_team', right_on='Team')
self.data = self.data[self.data['Y'] + year_offset == self.data['Year']]
self.data = self.data.drop(['Team', 'Year'], axis='columns')
all_cols = list(self.data.columns)
all_cols[-len(cols):] = [f'team_home_{c}_offset{np.abs(year_offset)}year' for c in all_cols[-len(cols):]]
self.data.columns = all_cols
self.data = self._downcast(self.data)

# Repeat for away team
self.data = self.data.merge(pitching_df[['Team', 'Year'] + cols], left_on='away_team', right_on='Team')
self.data = self.data[self.data['Y'] + year_offset == self.data['Year']]
self.data = self.data.drop(['Team', 'Year'], axis='columns')
all_cols = list(self.data.columns)
all_cols[-len(cols):] = [f'team_away_{c}_offset{np.abs(year_offset)}year' for c in all_cols[-len(cols):]]
self.data.columns = all_cols
self.data = self._downcast(self.data)
self.modified_at = datetime.now()
return self.data